body {
    font-family: 'Indie Flower', cursive;
    background-color: mediumpurple;
    color: whitesmoke;
}

section {
    text-align: center;
}

.game-container {
    height: 600px;
    width: 700px;
    border: solid 1px black;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.game-title {
    font-size: 48px;
}
.timer {
    height: 70px;
    width: 70px;
    border: solid 1px black;
}
#question {
    height: 150px;
    width: 620px;
    border: solid 1px black;
    font-size: 34px;
    align-items: center;
    text-align: center;
}
#A, #B, #C, #D {
    height: 100px;
    width: 630px;
    border: solid 1px black;
    font-size: 32px;
    align-items: center;
    text-align: center;
}
.choice:hover {
    background-color: rgba(0, 0, 0, 0.5)
}
.code {
    font-size: 30px;
}