body {
    font-family: 'Indie Flower', cursive;
    background-color: mediumpurple;
}

section {
    text-align: center;
}

.container {
    height: 600px;
    width: 500px;
    border: solid 1px black;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.5);
}
